.index_container
  %h2 災害関連研修等詳細ページ
.information
  - if @information.eyecatch.attached?
    .information_image
      = image_tag @information.eyecatch
  - else
    .card_image
      = image_tag 'default-eyecatch.jpg', size: '200*200'

  .information_detail
    = image_tag @information.user.avatar_image
    %div
      %p= @information.author_name
      %p= @information.display_created_at
    - if user_signed_in? && current_user.has_written2?(@information)
      .information_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_information_path(@information)
            = link_to '削除する', information_path(@information), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .information_title
    %p ---- title ----
    %h2.information_title= @information.title
  .information_content
    %p ---- content ----
    %p= @information.content