.top_index
  .index_container
    %h2 記録画像詳細ページ

  = link_to images_path do
    .back-to-images
      .btn-primary
        %p ＜ 一覧に戻る



.container.my-8
  -# #post-<%= post.id %>.mb-3
  .image{id: @image.id, class: 'mb-3'}
    %p.font-bold タイトル：#{@image.title}
    -# - if @image.images.attached?
    -#   - @image.images.each do |image|
    .item
      -# = image_tag @image.user.avatar_image #後でアバターが入るようにする
      
      = image_tag(@image, width:400, class: "image_message")
      -# = image_tag(image.variant(resize_to_limit: [100, 100]), class: "") = @image.image.variant(resize_to_limit: [400, nil]).url do |url|
      

      
    .card-footer
      = link_to '編集する', edit_image_path(@image), class: "btn btn-sm btn-primary"
      = button_to '削除', image_path(@image), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-primary"









  -#   %img{ src: @image.image.first.variant(resize: "300x300").url }

  

-# = javascript_pack_tag 'article' 
